@charset "UTF-8";

/* 숫자 입력 화살표 제거 (Chrome, Safari, Edge, Opera) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 숫자 입력 화살표 제거 (Firefox) */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}